@font-face {
  font-family: "Tektur400";
  src: url("./assets/fonts/Tektur-Regular.ttf");
}
@font-face {
  font-family: "Tektur500";
  src: url("./assets/fonts/Tektur-Medium.ttf");
}
@font-face {
  font-family: "Tektur600";
  src: url("./assets/fonts/Tektur-SemiBold.ttf");
}
@font-face {
  font-family: "Tektur700";
  src: url("./assets/fonts/Tektur-Bold.ttf");
}
@font-face {
  font-family: "Tektur800";
  src: url("./assets/fonts/Tektur-ExtraBold.ttf");
}
@font-face {
  font-family: "Tektur900";
  src: url("./assets/fonts/Tektur-Black.ttf");
}
@font-face {
  font-family: "montserrat300";
  src: url("./assets/fonts/Montserrat300.ttf");
}
@font-face {
  font-family: "montserrat400";
  src: url("./assets/fonts/Montserrat400.ttf");
}
@font-face {
  font-family: "montserrat500";
  src: url("./assets/fonts/Montserrat500.ttf");
}
@font-face {
  font-family: "montserrat600";
  src: url("./assets/fonts/Montserrat600.ttf");
}
@font-face {
  font-family: "montserrat700";
  src: url("./assets/fonts/Montserrat700.ttf");
}
@font-face {
  font-family:archivo;
  src: url("./assets/fonts/ArchivoBlack-Regular.ttf");
}
@font-face {
  font-family:encode500;
  src: url("./assets/fonts/EncodeSansSemiCondensed-Medium.ttf");
}
@font-face {
  font-family:encode600;
  src: url("./assets/fonts/EncodeSansSemiCondensed-SemiBold.ttf");
}
@font-face {
  font-family:encode700;
  src: url("./assets/fonts/EncodeSansSemiCondensed-Bold.ttf");
}
@font-face {
  font-family:Bangers;
  src: url("./assets/fonts/Bangers-Regular.ttf");
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: encode500;
}

.body {
  width: 100%;
  height: 100%;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
  /* font-family: "montserrat400"; */
  font-family: encode500;
  color: #000;
  box-sizing: border-box;
  font-size: 16px;
}
*:focus {
  outline: 0;
  outline: none;
}
ul {
  list-style: none;
}

th {
  font-weight: normal;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

input {
  outline: none;
}
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  appearance: none;
}
input[type="submit"] {
  cursor: pointer;
}
img {
  display: block;
}
